body{
    margin: 0px;
    background-image: url("images/background.png");
    background-repeat: repeat-y;
    background-size: 100%;
    justify-content: center;
}

.navbar{
    display: flex;
    border-bottom-style:solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 100%;
    min-width: 20%;
    padding-bottom: -1px;
    justify-content: space-between;
}

.navbar p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 20px;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.navbar ul{
    margin-top: 3em;
    height: 3em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar li{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    list-style: none;
    font-size: 25px;
}

.navbar #logo_img{
    height: 100px;
    width: 300px;
    padding-top: 1px;
}

.navbar #logo{
  display: inline-flex;  
  justify-content: left;
}

.subjects{
    padding-top: 150px;
    display: flex;
    max-width: 300rem;
    max-height: 150rem;
    justify-content: center;
    flex-wrap: wrap;
}

.subject{
    display: inline-flex;
    margin: 30px;
    max-width: 30rem;
    max-height: 15rem;
    border: solid 5px rgba(51, 50, 50, 0.2); 
}

#subject_para {
    display: flex;
    justify-content: center;
    flex-direction:row;
    margin: 0;
    padding-left: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

#subject_para button{
    height: 3em;
    width: 8em;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    border-radius: 5em;
    margin-top: 10px;
    font-weight: bold;
}

#subject_para button:hover{
    background-color: #000;
    color: #fff;
}

#subject_para p{
    margin: 0;
}

.tutors{
    display: flex;
    background-image: url("images/Teachers\(B&W\).png");
    background-repeat: no-repeat;
    flex-flow: column;
    height: 400px;
    max-width: 600px;
    min-width: 600px;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    margin-top: 5em;
    border: solid 5px rgba(51, 50, 50, 0.2); 
}

.tutors h2{
    padding-top: 18em;
    margin-top: 2em;
    padding-left: 6px;
    font-family: 'Raleway', sans-serif;
    color: #000;
}

.tutors h3{
    margin: 0;
    padding-left: 7px;
    font-family: 'Raleway', sans-serif;
    padding-top: 1em;
    font-size: 25px;
}

.tutors button{
    height: 3em;
    width: 8em;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    border-radius: 5em;
    margin-top: 10px;
    font-weight: bold;
}

.tutors button:hover{
    background-color: #000;
    color: #fff;
}

.locations{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#location_heading{
    text-align: center;
    margin-top: 6em;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    justify-content: center;
}

.location{
    display: inline-flex;
    text-align: left;
    font-size: 35px;
    justify-content: center;
    flex-wrap: nowrap;
    min-width: 360px;
}

footer{
    display: inline-flex;
    justify-content: space-evenly;
    min-width: 500px;
    width: 100%;
    color: #fff;
    background-color: #000;
    max-height: 500px;
    margin: 0px;
    flex-wrap: wrap;
}

footer p{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    height: 100px;
    padding-top: 28px;
}

#social{
    padding-top: 0px;
}





