.navbar{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    border-bottom-style:solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    position: fixed;
    background-color: white;
    padding-left: none;
    min-width: 50px;
}

.navbar ul, p{
    display: inline-flex;
    list-style: none;
    padding-top: 1.5rem;
    white-space: nowrap;
}

.navbar ul{
    padding-right: 50rem;
}

.navbar p{
    padding-top: 2rem;
    padding-right: 13rem;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    justify-content: flex-start;
    
}

.navbar li{
    padding: 10px;
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.navbar #logo{
    height: 100px;
    width: 300px;
    padding-top: 1px;
}

.main{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}