body{
    margin: 0px;
}

.navbar{
    display: flex;
    border-bottom-style:solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    position: fixed;
    background-color: white;
    width: 100%;
    max-width: 100%;
    min-width: 20%;
    padding-bottom: -1px;
    justify-content: space-between;
}



.navbar p{
    padding-top: 2rem;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.navbar ul{
    margin-top: 3em;
    height: 3em;
    display: flex;
    flex-wrap: nowrap;
}

.navbar li{
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    list-style: none;
}

.navbar #logo_img{
    height: 100px;
    width: 300px;
    padding-top: 1px;
}

.navbar #logo{
  display: inline-flex;  
  justify-content: left;
}

.main{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.subjects{
    padding-top: 200px;
    display: inline-flex;
    flex-direction: columns;
    max-width: 200px;
    padding-left: 20%;
    justify-content: center;
}

.subject{
    justify-content: center;
    margin: 20px;
    width: 200%;
    height: 150%;

}

